.left-menu, .list-group-item, .range input {
  border: 0;
  border-radius: 0; }

h1, h2, p, ul, li {
  margin: 0;
  padding: 0; }

nav {
  background-color: white; }

.contacts {
  min-height: 60px;
  border-bottom: 1px solid #ebecef;
  padding-left: 2.494%;
  padding-right: 2.494%; }

.navigation {
  min-height: 120px; }

.left span {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #43525d; }

.mail {
  margin-left: 26px;
  margin-right: 13px; }

.telefone {
  margin-left: 20px;
  margin-right: 30px; }

.mail:before, .telefone:before {
  position: absolute;
  content: "";
  top: 3px;
  width: 18px;
  height: 12px; }

.mail:before {
  background: url(../icons/Mail-Ico.png) no-repeat;
  left: -24px; }

.telefone:before {
  background: url(../icons/Phone-Ico.png) no-repeat;
  left: -20px; }

.post-social a:not(:first-child), .post-social .filter-label:not(:first-child) {
  margin-left: 16px; }

.navigation {
  padding-left: 2.494%;
  padding-right: 2.494%; }
  .navigation .collapse li:not(:last-child) {
    margin-right: 23px; }
  .navigation .collapse .active > .nav-link {
    color: #ff7013; }
  .navigation .collapse .nav-link {
    font-size: 1em;
    color: #44525e;
    font-weight: 500; }
  .navigation .logo {
    display: inline-block;
    margin-right: 65px;
    padding-bottom: 20px; }
    @media screen and (max-width: 992px) {
      .navigation .logo {
        margin: 0 auto;
        padding-left: 20px; } }
    .navigation .logo a, .navigation .logo .filter-label {
      text-transform: uppercase;
      text-decoration: none;
      color: #43525d;
      font-weight: 900;
      font-size: 30px;
      position: relative;
      display: inline-block;
      width: 118px;
      position: relative; }
      .navigation .logo a span:nth-child(2), .navigation .logo .filter-label span:nth-child(2) {
        float: right;
        position: relative; }
      .navigation .logo a span:nth-child(2):before, .navigation .logo .filter-label span:nth-child(2):before {
        position: absolute;
        content: '';
        top: 13px;
        left: -39px;
        width: 35px;
        height: 24px;
        background: url(../icons/logo.png) no-repeat; }
      .navigation .logo a span:last-child, .navigation .logo .filter-label span:last-child {
        font-size: 10px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: 3px;
        position: absolute;
        bottom: 0;
        left: 0; }
  .navigation .icons-nav a:not(:last-child), .navigation .icons-nav .filter-label:not(:last-child) {
    margin-right: 30px; }
  .navigation .icons-nav a:last-child, .navigation .icons-nav .filter-label:last-child {
    position: relative; }
    .navigation .icons-nav a:last-child span, .navigation .icons-nav .filter-label:last-child span {
      position: absolute;
      top: -16px;
      left: 4px;
      width: 17px;
      height: 17px;
      line-height: 18px;
      background-color: #43525d;
      color: white;
      font-size: 10px;
      text-align: center;
      border-radius: 50%;
      font-weight: 100; }

.slide {
  height: 50.7vw; }
  .slide img {
    height: 100%; }

@media screen and (max-width: 576px) {
  .slide {
    height: 70vw; } }
.overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 6;
  transform: translateY(-50%); }

.text {
  padding-left: 3vw; }
  .text h1 {
    font-size: 4.1vw;
    color: #ff7013;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2vw; }
  .text p {
    margin-bottom: 0px;
    color: #4c5964;
    font-size: 1.125em; }
  @media screen and (max-width: 576px) {
    .text h1 {
      font-size: 7vw; }
    .text p {
      font-size: 1em; }
    .text p.description {
      font-size: 0.875em; } }
  .text .description {
    font-size: 1em;
    color: #5b6975; }
  .text .buy {
    margin-top: 4vw; }
  .text .order {
    padding: 0 30px;
    position: relative;
    color: #ff7013;
    font-size: 1.125em;
    font-weight: 600;
    margin-left: 24px; }
    .text .order:before {
      position: absolute;
      content: '';
      top: 2px;
      left: 0;
      width: 25px;
      height: 18px;
      background: url(../icons/Cart-Ico.png) no-repeat; }

.col-header {
  margin-bottom: 5.8vw; }
  .col-header h1 {
    font-weight: 900;
    font-size: 2.25em;
    color: #43525d;
    margin-bottom: 17px;
    text-transform: uppercase; }
    .col-header h1 span {
      color: #ff7013; }
  .col-header p {
    color: #43525d;
    font-size: 1em;
    margin-bottom: 0; }

.row-product {
  margin-bottom: 38px; }

.product {
  height: 365px;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 30px 0;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold; }
  .product p {
    margin-bottom: 16px;
    color: #34404b; }
  .product span {
    color: #ff5912; }
  .product .product-info {
    display: none; }
    .product .product-info .sizes {
      display: block;
      color: #34404b !important;
      font-size: 14px;
      font-weight: 500;
      white-space: pre;
      margin-bottom: 23px; }
    .product .product-info .product-colors div {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 23px; }
      .product .product-info .product-colors div:first-child {
        background-color: #e94650; }
      .product .product-info .product-colors div:nth-child(2) {
        background-color: #43525d; }
      .product .product-info .product-colors div:nth-child(3) {
        background-color: #44c1ff; }
      .product .product-info .product-colors div:nth-child(4) {
        background-color: #2fdc7a; }
    .product .product-info .produst-icons {
      padding-top: 18px;
      margin: 0 50px;
      border-top: 1px solid #f5f7f9; }
      .product .product-info .produst-icons a, .product .product-info .produst-icons .filter-label {
        margin-top: 25px; }
        .product .product-info .produst-icons a:not(:last-child), .product .product-info .produst-icons .filter-label:not(:last-child) {
          margin-right: 25px; }
  .product:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); }
    .product:hover .image {
      height: 138px; }
    .product:hover .img-product {
      width: 80px; }
    .product:hover p {
      color: #ff7013; }
    .product:hover span {
      display: none; }
    .product:hover .product-info {
      display: block; }

.image {
  height: 270px; }
  .image .img-product {
    width: 150px; }

.row-page {
  padding: 0 15px; }

.col-page {
  height: 60px;
  line-height: 60px;
  background-color: white; }

.page-dots {
  display: inline-block; }
  .page-dots div {
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-color: #ff7013;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block; }

.sale-div {
  min-height: 100px;
  background-color: white;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px 0; }
  .sale-div .sale-logo, .sale-div .sale-description, .sale-div .sale-price {
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .sale-div .sale-logo {
    padding: 0 4vw 0 2vw; }
  .sale-div .sale-price {
    width: 30%; }
    .sale-div .sale-price p {
      color: #ff5912;
      font-size: 28px;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 0;
      position: relative;
      display: inline-block; }
    .sale-div .sale-price p:before {
      position: absolute;
      content: "";
      width: 25px;
      height: 24px;
      top: 3px;
      left: -42px;
      background: url(../icons/Add-To-Cart-Ico-.png) no-repeat; }
    .sale-div .sale-price span {
      font-size: 20px; }
  .sale-div .sale-description {
    text-align: left;
    border-right: 1px solid #f5f7f9;
    padding: 0 3vw 0 10px; }
    @media screen and (max-width: 576px) {
      .sale-div .sale-description {
        text-align: center;
        padding: 10px;
        border: 0; } }
    .sale-div .sale-description h1 {
      color: #34404b;
      font-size: 1.375em;
      font-weight: 900;
      text-transform: uppercase; }
    .sale-div .sale-description p {
      color: #495662;
      font-size: 12px;
      margin-bottom: 0;
      text-align: left; }

.sale-text {
  display: inline-block;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .sale-text .sale-size {
    color: #e1e3e5;
    font-size: 12px;
    letter-spacing: 6px; }
  .sale-text span {
    color: #ff7013; }

.sale {
  margin: 0 auto;
  position: relative;
  z-index: 50;
  width: 80px;
  height: 80px; }

.sale p {
  font-size: 11px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 0; }

.sale p:first-child {
  position: absolute;
  top: 25%;
  left: 35%;
  letter-spacing: 1px; }

.sale p:last-child {
  position: absolute;
  top: 28%;
  left: 24%;
  margin-top: 10px;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 700; }

.sale:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  display: inline-block;
  width: 43px;
  height: 36px;
  background-color: #ff7013;
  transform: skew(45deg, -45deg);
  transform-origin: 87% 15%;
  z-index: -1; }

.sale:after {
  content: "";
  position: absolute;
  top: 21.5px;
  left: 16.5px;
  display: inline-block;
  width: 43px;
  height: 36px;
  background-color: #ffa273;
  transform: skew(-45deg, 45deg);
  z-index: -2; }

.best-sales {
  min-height: 160px;
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  text-align: center; }
  .best-sales .image-sales {
    line-height: 160px;
    display: inline-block;
    width: 37%;
    text-align: center; }
  .best-sales img {
    width: 90px;
    margin: 0 auto; }
  .best-sales .card-text {
    display: inline-block;
    border-left: 1px solid #f5f7f9;
    padding: 0 30px;
    font-weight: bold;
    vertical-align: middle; }
    .best-sales .card-text p {
      color: #34404b;
      font-size: 1.125em;
      margin-top: -13px; }
    .best-sales .card-text .card-span {
      display: block;
      margin-top: 20px;
      text-align: justify; }
      .best-sales .card-text .card-span span {
        color: #ff5912;
        float: right; }
  .best-sales:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); }

.btn-add {
  display: none;
  background-color: transparent;
  width: 138px;
  margin-top: 8px;
  text-align: right; }
  .btn-add:hover {
    border: 1px solid #ff7013;
    cursor: pointer; }
  .btn-add span {
    color: #ff5912;
    font-weight: 600;
    position: relative; }
    .btn-add span:before {
      position: absolute;
      content: '';
      top: 0;
      left: -30px;
      width: 25px;
      height: 25px;
      background: url(../icons/Add-To-Cart-Ico-.png) no-repeat; }

.main-letter {
  margin-top: 8vw; }

.news {
  min-height: 120px;
  background-color: white;
  text-align: justify;
  margin-left: 30px;
  position: relative; }
  .news .string {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 24px;
    width: 95%;
    padding: 10px; }
  .news h2, .news p {
    display: inline-block; }
  .news h2 {
    color: #ff7013;
    font-size: 1.125em;
    font-weight: 800; }
  .news p {
    color: #34404b;
    font-size: 14px;
    font-style: italic;
    margin-left: 24px; }
    @media screen and (max-width: 495px) {
      .news p {
        margin-left: 0; } }

.form-inline {
  display: inline-flex; }
  .form-inline .btn-icon {
    background-color: transparent;
    padding: 0;
    border-radius: 0; }
  .form-inline input {
    border: 0;
    font-style: italic;
    color: #7c8791;
    font-size: 14px;
    float: left;
    width: 160px;
    margin: 5px;
    padding: 10px 5px; }

.btn-red {
  width: 100px;
  height: 50px;
  background-color: #ff7013;
  border-radius: 0;
  color: white;
  float: right; }

footer .navigation {
  margin-top: 120px;
  min-height: 242px;
  background-color: #fff;
  position: relative; }
  footer .navigation .collapse .navbar-nav:nth-child(2) {
    margin-right: 35px; }
  footer .navigation .collapse .nav-item {
    position: relative; }
    footer .navigation .collapse .nav-item:before {
      position: absolute;
      content: '';
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background-color: #43525d;
      top: 15px;
      left: -6px;
      font-size: 16px; }
  footer .navigation .collapse .nav-link {
    font-size: 0.875em; }
  footer .navigation .collapse .active.nav-item:before {
    background-color: #ff7013; }
footer .copyright {
  font-size: 14px;
  font-color: #28313b;
  padding-top: 20px; }
footer .nav-footer {
  padding: 5px;
  font-size: 14px;
  color: #35404c; }
footer .payment {
  float: right;
  color: #ff5912;
  font-size: 1em;
  font-weight: 600; }
  footer .payment span {
    display: block;
    padding-bottom: 15px; }
  footer .payment li {
    display: inline-block; }

.left-menu {
  padding: 40px 40px 28px 40px;
  margin-bottom: 30px; }
  .left-menu h3 {
    margin-bottom: 20px;
    font-size: 1.125em;
    color: #ff7013;
    font-weight: 900; }

.list-group-item {
  padding-left: 0; }
  .list-group-item a, .list-group-item .filter-label {
    color: #43525d;
    font-size: 1em;
    font-weight: 700; }
  .list-group-item:hover a, .list-group-item:hover .filter-label {
    text-decoration: none;
    color: #ff7013; }

.form-check-input {
  opacity: 0; }

.filter-label {
  position: relative;
  padding-left: 13px;
  transform: translateX(14px); }
  .filter-label .button {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    top: 6px;
    left: -14px;
    background-color: #f1f3f5; }
  .filter-label input:checked ~ .button {
    border: 4px solid #ff7013;
    background-color: #fff; }
  .filter-label input:checked ~ span {
    color: #ff7013; }

.price {
  margin-top: 40px; }

.range {
  display: inline-block;
  margin: 40px auto 0 auto; }
  .range label {
    font-size: 14px;
    font-weight: 600; }
    .range label:nth-child(1) {
      margin-right: 15px; }
    .range label .to {
      float: right; }
    .range label:hover {
      color: #ff7013; }
  .range input {
    width: 45px;
    height: 25px;
    margin-left: 14px;
    background-color: #f1f3f5;
    padding: 5px; }

#custom-handle, #custom-handle_1 {
  width: 3em;
  height: 1.6em;
  top: -875%;
  font-size: 14px;
  font-family: 'Harmonia Sans Pro Cyr';
  font-weight: 600;
  text-align: center;
  line-height: 1.6em;
  border: 0; }

#custom-handle_1 {
  transform: translateX(-35%); }

#custom-handle {
  transform: translateX(-18%); }

body {
  background-color: #f6f8f9;
  font-family: 'Harmonia Sans Pro Cyr'; }

.main {
  margin: 9.4vw auto 0 auto;
  padding: 0 2.494%; }

.container {
  max-width: 1400px; }

.row-main {
  margin: 0; }

@media (max-width: 991px) {
  .navbar-expand-lg > .container {
    padding-left: 15px; } }

/*# sourceMappingURL=style.css.map */
