nav {
  background-color: white; }

.contacts {
  min-height: 60px;
  border-bottom: 1px solid #ebecef; }

.navigation {
  min-height: 120px; }

.left span {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #43525d; }

.mail {
  margin-left: 26px;
  margin-right: 13px; }

.telefone {
  margin-left: 20px;
  margin-right: 30px; }

.mail:before, .telefone:before {
  position: absolute;
  content: "";
  top: 3px;
  width: 18px;
  height: 12px; }

.mail:before {
  background: url(../icons/Mail-Ico.png) no-repeat;
  left: -26px; }

.telefone:before {
  background: url(../icons/Phone-Ico.png) no-repeat;
  left: -20px; }

.post-social a:not(:first-child) {
  margin-left: 16px; }

.navigation .collapse li:not(:last-child) {
  margin-right: 23px; }
.navigation .collapse .active > .nav-link {
  color: #ff7013; }
.navigation .collapse a {
  font-size: 16px;
  color: #44525e;
  font-weight: 500; }
.navigation .logo {
  display: inline-block;
  margin-right: 65px;
  padding-bottom: 20px; }
  @media screen and (max-width: 992px) {
    .navigation .logo {
      margin: 0 auto;
      padding-left: 20px; } }
  .navigation .logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #43525d;
    font-weight: 900;
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 118px;
    position: relative; }
    .navigation .logo a span:nth-child(2) {
      float: right;
      position: relative; }
    .navigation .logo a span:nth-child(2):before {
      position: absolute;
      content: '';
      top: 13px;
      left: -39px;
      width: 35px;
      height: 24px;
      background: url(../icons/logo.png) no-repeat; }
    .navigation .logo a span:last-child {
      font-size: 10px;
      text-transform: none;
      font-weight: normal;
      letter-spacing: 3px;
      position: absolute;
      bottom: 0;
      left: 0; }
.navigation .icons-nav a:not(:last-child) {
  margin-right: 30px; }
.navigation .icons-nav a:last-child {
  position: relative; }
  .navigation .icons-nav a:last-child span {
    position: absolute;
    top: -16px;
    left: 4px;
    width: 17px;
    height: 17px;
    line-height: 18px;
    background-color: #43525d;
    color: white;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    font-weight: 100; }

.slide {
  height: 50.7vw; }
  .slide img {
    height: 100%; }

@media screen and (max-width: 576px) {
  .slide {
    height: 70vw; } }
.overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 6;
  transform: translateY(-50%); }
  .overlay .container {
    padding-left: 7vw; }

.text {
  padding-left: 30px; }
  .text h1 {
    font-size: 4.1vw;
    color: #ff7013;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 2vw; }
  .text p {
    margin-bottom: 0px;
    color: #4c5964;
    font-size: 1.125em; }
  @media screen and (max-width: 576px) {
    .text h1 {
      font-size: 7vw; }
    .text p {
      font-size: 1em; }
    .text p.description {
      font-size: 0.875em; } }
  .text .description {
    font-size: 1em;
    color: #5b6975; }
  .text .buy {
    margin-top: 4vw; }
  .text .order {
    padding: 0 30px;
    position: relative;
    color: #ff7013;
    font-size: 1.125em;
    font-weight: 600;
    margin-left: 24px; }
  .text .order:before {
    position: absolute;
    content: '';
    top: 2px;
    left: 0;
    width: 25px;
    height: 18px;
    background: url(../icons/Cart-Ico.png) no-repeat; }

.col-header {
  margin-bottom: 5.8vw; }
  .col-header h1 {
    font-weight: 900;
    font-size: 2.25em;
    color: #43525d;
    margin-bottom: 17px;
    text-transform: uppercase; }
    .col-header h1 span {
      color: #ff7013; }
  .col-header p {
    color: #43525d;
    font-size: 1em;
    margin-bottom: 0; }

.row-product {
  margin-bottom: 38px; }
  .row-product .product {
    height: 365px;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.125em;
    font-weight: bold; }
    .row-product .product p {
      margin-bottom: 16px;
      color: #34404b; }
    .row-product .product span {
      color: #ff5912; }

.image {
  height: 270px; }
  .image img {
    width: 140px;
    margin-top: 30px; }

.card-focus img {
  width: 80px; }

.row-page {
  padding: 0 15px; }

.col-page {
  height: 60px;
  line-height: 60px;
  background-color: white; }

.page-dots {
  display: inline-block; }
  .page-dots div {
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-color: #ff7013;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block; }

.sale-div {
  min-height: 100px;
  background-color: white;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px 0; }
  .sale-div .sale-logo, .sale-div .sale-description, .sale-div .sale-price {
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .sale-div .sale-logo {
    width: 30%;
    text-align: center; }
  .sale-div .sale-price {
    width: 30%;
    line-height: 80px; }
    .sale-div .sale-price img {
      margin-right: 20px;
      vertical-align: baseline; }
    .sale-div .sale-price p {
      color: #ff5912;
      font-size: 28px;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 0;
      position: relative;
      display: inline-block; }
    .sale-div .sale-price span {
      font-size: 20px; }
  .sale-div .sale-description h1 {
    color: #34404b;
    font-size: 1.375em;
    font-weight: 900;
    text-transform: uppercase; }
  .sale-div .sale-description p {
    color: #495662;
    font-size: 12px;
    margin-bottom: 0; }

.card-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 1em; }
  .card-text .sale-size {
    color: #e1e3e5;
    font-size: 12px;
    letter-spacing: 6px; }
  .card-text span {
    color: #ff7013; }

.sale {
  margin: 0 auto;
  position: relative;
  z-index: 50;
  width: 80px;
  height: 80px; }

.sale p {
  font-size: 12px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 0; }

.sale p:first-child {
  position: absolute;
  top: 21%;
  left: 38%; }

.sale p:last-child {
  position: absolute;
  top: 26%;
  left: 22%;
  margin-top: 10px;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 900; }

.sale:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 43px;
  height: 35px;
  background-color: #ff7013;
  transform: skew(45deg, -45deg);
  transform-origin: 87% 15%;
  z-index: -1; }

.sale:after {
  content: "";
  position: absolute;
  top: 21.5px;
  left: 16.5px;
  display: inline-block;
  width: 43px;
  height: 35px;
  background-color: #ffa273;
  transform: skew(-45deg, 45deg);
  z-index: -2; }

.best-sales {
  min-height: 160px;
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  text-align: center; }
  .best-sales .image-sales {
    line-height: 160px;
    display: inline-block;
    width: 37%;
    text-align: center; }
  .best-sales img {
    width: 90px;
    margin: 0 auto; }
  .best-sales .card-text {
    display: inline-block;
    border-left: 1px solid #f7f7f8;
    padding: 0 30px;
    font-weight: bold;
    vertical-align: middle; }
    .best-sales .card-text p {
      color: #34404b;
      font-size: 1.125em;
      margin-top: -13px; }
    .best-sales .card-text span {
      color: #ff5912;
      float: left; }
    .best-sales .card-text span:last-child {
      float: right; }

body {
  background-color: #f6f8f9;
  font-family: 'Harmonia Sans Pro Cyr'; }

.main {
  margin: 9.4vw auto 0 auto;
  padding: 0 2.494%; }

.container {
  max-width: 1400px; }

.row-main {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
