
$padding-main:2.494%;
nav{
	background-color: white;
}
.contacts{
	min-height:60px;
	border-bottom:1px solid #ebecef;
	padding-left:$padding-main;
	padding-right:$padding-main;
}
.navigation{
	min-height:120px;
}
.left{

	span{
		display: inline-block;
		position: relative;
		font-size: 12px;
		color:#43525d;
	}

}
.mail{
	margin-left:26px;
	margin-right:13px;
}
.telefone{
		margin-left:20px;
		margin-right:30px;
}
.mail:before, .telefone:before {
		position: absolute;
		content: "";
		top:3px;
		width:18px;
		height:12px;
	}
		
.mail:before{
		background: url(../icons/Mail-Ico.png) no-repeat;
		left:-24px;
	}
.telefone:before{
		background: url(../icons/Phone-Ico.png) no-repeat;
		left:-20px;
	}
.post-social{
		a:not(:first-child){
			margin-left:16px;
		}
	}