.news{
	min-height: 120px;
	background-color: white;
	text-align: center;
	.string{
		position: absolute;
		top:50%;
		transform:translateY(-50%);
		padding:0 24px;
		width:95%;
		padding:10px;
	}
	h2, p{
		display: inline-block;
	}
	h2{
		color:$orange;
		font-size: $size;
		font-weight: 800;	
	}
	p{
		color:#34404b;
		font-size: 14px;
		font-style: italic;
		margin-left: 24px;
		@media screen and (max-width:495px){
			margin-left: 0;

		}
	}
	
}

	input{
		border:0;
		font-style: italic;
		color:#7c8791;
		font-size: 14px;
		float:left;
		width:160px;
		margin:5px;
		padding:10px;
	}
	// input:before{
	// 	position:absolute;
	// 	content:"";
	// 	width:18px;
	// 	height:12px;
	// 	top:0;
	// 	left:0;
	// 	background:url(../icons/Mail-Ico.png) no-repeat;
	// }
	.btn{
		width:100px;
		height:50px;
		background-color:$orange;
		border-radius: 0;
		color:white;
		float:right;
	}