.sale{
	margin:0 auto;
	position: relative;
	z-index: 50;
	width:80px;
	height:80px;
}
.sale p{
	font-size: 12px;
	color:#ffffff;
	font-style: italic;
	margin-bottom: 0;
}
.sale p:first-child{
	position: absolute;
	top:21%;
	left:38%;
}
.sale p:last-child{
	position: absolute;
	top:26%;
	left:22%;
	margin-top: 10px;
	font-size:$size;
	font-style: normal;
	font-weight: 900;
}
.sale:before{
	content: "";
	position: absolute;
	top:5px;
	left:5px;
	display: inline-block;
	width:43px;
	height:35px;
	background-color: $orange;
	transform: skew(45deg, -45deg);
	transform-origin: 87% 15%;
	z-index: -1;
}
.sale:after{
	content: "";
	position: absolute;
	top:21.5px;
	left:16.5px;
	display: inline-block;
	width:43px;
	height:35px;
	background-color: #ffa273;
	transform: skew(-45deg, 45deg);
	z-index: -2;
}

