
$break-sm: 576px;
.sale-div{
	min-height: 100px;
	background-color: white;
	position: relative;
	text-align: center;
	width:100%;
	padding:10px 0;
	
	.sale-logo, .sale-description, .sale-price{
		display: inline-block;
	 	text-align: center;
		vertical-align: middle;
	}
	.sale-logo{
		padding:0 4vw 0 2vw;

	}
	.sale-price{
		width:30%;
		p{
			color:#ff5912;
			font-size:28px;
			font-weight: 900;
			line-height: 1;
			margin-bottom: 0;
			position: relative;
			display: inline-block;


		}
		p:before{
			position: absolute;
			content: "";
			width:25px;
			height:24px;
			top:3px;
			left:-42px;
			background: url(../icons/Add-To-Cart-Ico-.png) no-repeat;
		}
		span{
			font-size: 20px;
		}
		
	}
.sale-description{
	text-align: left;
	border-right:1px solid #f7f7f8;
	padding: 0 3vw 0 10px;
	@media screen and (max-width: $break-sm){
				text-align: center;
				padding:10px;
				border:0;
			}
	h1{
	color:#34404b;
	font-size: 1.375em;
	font-weight: 900;
	text-transform: uppercase;
	}
	p{
		color:#495662;
		font-size: 12px;
		margin-bottom: 0;
		text-align: left;
	}
	}
}
	.sale-text{
	// vertical-align: middle;
	display: inline-block;
	font-size: 1em;
	position: absolute;	
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

	.sale-size{
		color:#e1e3e5;
		font-size: 12px;
		letter-spacing: 6px;
	}
	span{
		color:$orange;
	}
	}