@import 'reset';
@import 'navbar';
@import 'nav-navigation';
@import 'carousel';
@import 'product';
@import 'sale';
@import 'sale-badge';
@import 'best-sales';
@import 'news-letter';


body{
	background-color: #f6f8f9;
	font-family: 'Harmonia Sans Pro Cyr';
}
.main{
	margin:9.4vw auto 0 auto;
	padding: 0 2.494%;
}
.container {
	max-width:1400px;
}
.row-main{
	margin:0;
}

