@import'helper/variables','helper/placeholders','helper/mixins';
@import 'reset','navbar','nav-navigation','carousel','product','sale','sale-badge','best-sales','news-letter','footer','left-menu-products';

// *{
// 	transition: 0.3s ease-in-out .2s;
// }
body{
	background-color: #f6f8f9;
	font-family: 'Harmonia Sans Pro Cyr';
}
.main{
	margin:9.4vw auto 0 auto;
	padding: 0 2.494%;
}
.container {
	max-width:1400px;
}
.row-main{
	margin:0;
}
@media (max-width: 991px){
.navbar-expand-lg>.container{
	padding-left:15px;
}
}



